@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply tracking-wide bg-white text-black
    }

    html{
        scroll-behavior: smooth;
    }
}

@font-face {
    font-family: "Sora";
    src: url("../public/assets/fonts/Sora-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Oxygen";
    src: url("../public/assets/fonts/Oxygen-Regular.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("../public/assets/fonts/Manrope-VariableFont_wght.ttf");
}